@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* @custom-variant dark (&:is(.dark *)); */
:root {
  --background: oklch(0.9809 0.0025 228.7836);
  --foreground: oklch(0.4091 0.0226 200.5214);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4091 0.0226 200.5214);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4091 0.0226 200.5214);
  --primary: oklch(0.6674 0.0445 230.6319);
  --primary-foreground: oklch(0.9809 0.0025 228.7836);
  --secondary: oklch(0.9169 0.0162 226.9814);
  --secondary-foreground: oklch(0.4091 0.0226 200.5214);
  --muted: oklch(0.9022 0.0086 225.0905);
  --muted-foreground: oklch(0.5739 0.0249 207.0446);
  --accent: oklch(0.7857 0.1028 315.8535);
  --accent-foreground: oklch(0.3382 0.0565 316.3947);
  --destructive: oklch(0.6770 0.2135 327.6164);
  --destructive-foreground: oklch(0.9809 0.0025 228.7836);
  --border: oklch(0.8630 0.0138 226.5857);
  --input: oklch(0.9424 0.0076 228.8562);
  --ring: oklch(0.6674 0.0445 230.6319);
  --chart-1: oklch(0.6674 0.0445 230.6319);
  --chart-2: oklch(0.7857 0.1028 315.8535);
  --chart-3: oklch(0.7359 0.1006 134.9926);
  --chart-4: oklch(0.7590 0.1282 354.8756);
  --chart-5: oklch(0.8635 0.0774 167.5573);
  --sidebar: oklch(0.9617 0.0051 228.8188);
  --sidebar-foreground: oklch(0.4091 0.0226 200.5214);
  --sidebar-primary: oklch(0.6674 0.0445 230.6319);
  --sidebar-primary-foreground: oklch(0.9809 0.0025 228.7836);
  --sidebar-accent: oklch(0.7857 0.1028 315.8535);
  --sidebar-accent-foreground: oklch(0.3382 0.0565 316.3947);
  --sidebar-border: oklch(0.8860 0.0119 231.6713);
  --sidebar-ring: oklch(0.6674 0.0445 230.6319);
  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2399 0.0134 212.7466);
  --foreground: oklch(0.9328 0.0165 211.0403);
  --card: oklch(0.2866 0.0184 213.4299);
  --card-foreground: oklch(0.9328 0.0165 211.0403);
  --popover: oklch(0.2866 0.0184 213.4299);
  --popover-foreground: oklch(0.9328 0.0165 211.0403);
  --primary: oklch(0.7561 0.0452 235.6322);
  --primary-foreground: oklch(0.2399 0.0134 212.7466);
  --secondary: oklch(0.5055 0.0285 219.1705);
  --secondary-foreground: oklch(0.9328 0.0165 211.0403);
  --muted: oklch(0.2870 0.0191 218.6615);
  --muted-foreground: oklch(0.7200 0.0171 227.0676);
  --accent: oklch(0.3291 0.0194 251.4735);
  --accent-foreground: oklch(0.8401 0.0921 317.9069);
  --destructive: oklch(0.7266 0.1964 327.3619);
  --destructive-foreground: oklch(0.2399 0.0134 212.7466);
  --border: oklch(0.3438 0.0219 214.7554);
  --input: oklch(0.3240 0.0216 210.3664);
  --ring: oklch(0.7561 0.0452 235.6322);
  --chart-1: oklch(0.7561 0.0452 235.6322);
  --chart-2: oklch(0.8401 0.0921 317.9069);
  --chart-3: oklch(0.7359 0.1006 134.9926);
  --chart-4: oklch(0.7590 0.1282 354.8756);
  --chart-5: oklch(0.8635 0.0774 167.5573);
  --sidebar: oklch(0.2228 0.0136 212.7948);
  --sidebar-foreground: oklch(0.9328 0.0165 211.0403);
  --sidebar-primary: oklch(0.7561 0.0452 235.6322);
  --sidebar-primary-foreground: oklch(0.2399 0.0134 212.7466);
  --sidebar-accent: oklch(0.3291 0.0194 251.4735);
  --sidebar-accent-foreground: oklch(0.8401 0.0921 317.9069);
  --sidebar-border: oklch(0.3240 0.0216 210.3664);
  --sidebar-ring: oklch(0.7561 0.0452 235.6322);
  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Scrollbar styles remain */
.scroll-hover::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.scroll-hover:hover::-webkit-scrollbar {
  width: 6px;
}
.scroll-hover:hover::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 3px;
}
.scroll-hover {
  scrollbar-width: none;
}
.scroll-hover:hover {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}

/* @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}